// @xmf.lu
@charset 'utf-8';

// Core Mixins
@import './_mixins_';

// CSS Reset
@import './_reset_';

// float
.float-l {
  float: left;
}
.float-r {
  float: right;
}

h2 {
  font-size: 1.571428571em;
  line-height: 1.2;
  font-weight: normal;
}

p {
  margin: 0 0 1.71429em;
  line-height: 1.714285714;
}

body {
  min-width: 480px;
  background-color: #E6E6E6;
  color: #444444;
  font-size: 1em;

  @media screen and (max-width: 960px) {
    background-color: #FFFFFF;  
    font-size: 1.14285714em;
  }
}

.site {
  margin: 0 auto;
  margin-top: 3.428571429em;
  margin-bottom: 3.428571429em;
  padding: 0 2.857142857em;
  width: 80%;
  background-color: #FFFFFF;
  @include box-shadow(0 2px 6px rgba(100, 100, 100, 0.3));
  overflow: hidden;

  @media screen and (max-width: 960px) {
    margin: 0 auto;
    width: 90%;
    padding: 0 5%;
    @include box-shadow(none);
  }
}

.site-header {
  padding: 1.714285714em 0;
}
.site-title {
  font-size: 1.857142857em;
}
.site-description {
  font-size: 0.928571429em;
  font-weight: 400;
  color: #757575;
}
.site-nav {
  margin: 1.714285714em 0 0;
  text-align: center;

  ul {
    width: 100%;
    border-top: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
    text-align: left;
    overflow: hidden;

    li {
      float: left;
      margin: 0 2.857142857em 0 0;
      font-size: 0.857142857em;

      @media screen and (max-width: 960px) {
        margin: 0 2.14285714em 0 0;
      }
      @media screen and (max-width: 700px) {
        width: 25%;
        margin: 0;
      }

      a {
        line-height: 3.692307692;
        color: #6A6A6A;

        &:hover {
          color: #000000;
        }

        @media screen and (max-width: 700px) {
          line-height: 2.5;
        }
      }

      .current {
        font-weight: 700;
        color: #636363;
      }
    }
  }
}

.site-content {
  margin: 1.714285714em 0 0;
}

.entry {
  margin: 0 0 5.142857143em 0;
  padding: 0 0 1.714285714em 0;
  border-bottom: 4px double #EDEDED;
  word-wrap: break-word;
  @media screen and (max-width: 960px) {
    margin: 0 0 1.714285714em 0;;
  }

  .entry-header {
    margin: 0 0 1.714285714em;
  }
  .entry-content {
    
  }
  .entry-footer {
    margin: 1.714285714em 0 0;
    font-size: 0.928571429em;
    line-height: 1.846153846;
    color: #757575;

    a {
      text-decoration: underline;
      color: #757575;

      &:hover {
        color: #21759B;
      }
    }
  }
  .entry-nav {
    width: 100%;
    margin: 1.714285714em 0 0;
    overflow: hidden;
  }
}

.post-nav {
  width: 100%;
  line-height: 2;
  overflow: hidden;

  div {
    width: 50%;
  }

  a {
    text-decoration: underline;
  }

  .nav-next {
    text-align: right;
  }
}

.site-footer {
  margin: 1.714285714em 0 0;
  padding: 1.714285714em 0;
  border-top: 1px solid #EDEDED;
  font-size: 0.857142857em;
  line-height: 2;
}

#pageNotFound {
  margin: 20px auto;
}