---
layout: default
title: Uncategorized
category: uncategorized
---

{% for post in site.categories.[page.category] %}
  <article class="entry" id="{{ post.id }}">
    <header class="entry-header">
      <h2 class="entry-title">
        <a href="{{ post.url }}">{{ post.title }}</a>
      </h1>
    </header>

    <section class="entry-content">
      {% assign content = post.content | split: '<!-- more -->' %}
      {% assign size = content | size %}

      {{ content | first }}

      {% if size > 1 %}<p><a href="{{ post.url }}">Continue &rarr;</a></p>{% endif %}
    </section>

    <footer class="entry-footer">
      Post on&nbsp;
      <time>{{ post.date | date: '%Y/%m/%d %A' }}</time>
      &nbsp;|&nbsp;Category:&nbsp;
      <a href='/categories/{{ post.category }}'>{{ post.category }}</a>
    </footer>
  </article>
{% endfor %}

{% include _pagination.html %}

