<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <title>{{ page.title }} - {{ site.title }}</title>
    <link href="/atom.xml" rel="alternate" type="application/atom+xml" />
    <link href="/assets/css/style.css" rel="stylesheet" />
    <link rel="Shortcut Icon" href="/favicon.ico" />

  <body>
    <div class="site">
      <header class="site-header">
        <hgroup>
          <h1 class="site-title">{{ site.title }}</h1>
          <h2 class="site-description"> There is no "Y" in happiness. There is "I".</h2>
        </hgroup>

        <nav class="site-nav">
          <ul>
            {% for link in site.navigation %}
              {% assign current = nil %}
              {% assign page_url = page.url | remove: 'index.html' %}
              {% assign link_url = link.url | remove: 'index.html' %}
              {% assign page_cat = page.category | downcase %}
              {% assign link_cat = link.text | downcase %}

              {% if page_url == link_url or page_cat == link_cat %}
                {% assign current = 'current' %}
              {% endif %}

              <li>
                <a class="{{ current }}" href="{{ link.url }}">{{ link.text | capitalize }}</a>
              </li>
            {% endfor %}
          </ul>
        </nav>
      </header>

      <section class="site-content">
        {{ content }}
      </section>

      <footer class="site-footer">
        Copyright &copy; 2014
        <a href='http://www.xuemengfei.com' target='_blank'>Mengfei.Xue</a>
      </footer>
    </div>

    <link href="/assets/css/highlight/monokai.css" rel="stylesheet" />
    <script src="/assets/js/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>

  </body>
</html>
