---
layout: default
---

<article class="entry" id="{{ page.id }}">
  <header class="entry-header">
    <h2 class="entry-title">{{ page.title }}</h1>
  </header>

  <section class="entry-content">
    {{ content }}
  </section>

  <footer class="entry-footer">
    Post on&nbsp;
    <time>{{ page.date | date: '%Y/%m/%d %A' }}</time>
    &nbsp;|&nbsp;Category:&nbsp;
    <a href="/{{ page.category }}">{{ page.category }}</a>
  </footer>

  <nav class="entry-nav">
    {% if page.previous %}<a href="{{ page.previous.url }}" class="float-l">&laquo; {{ page.previous.title }}</a>{% endif %}
    {% if page.next %}<a href="{{ page.next.url }}" class="float-r">{{ page.next.title }} &raquo;</a>{% endif %}
  </nav>
</article>
